<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Livros - Lista de livros</title>
    <link rel="stylesheet" type="text/css" href="/site.css">
    <script type="text/javascript" src="/site.js"></script>
</head>

<body onLoad="preenche()">
    <h1>Detalhes do livro:</h1>
    <div id="wrapper">
        <div class="nomeDet">
            <p class="detNome">Nome:</p>
            <p class="det" id="nome"></p>
        </div>
        <div class="nomeDet">
            <p class="detNome">Data de lançamento:</p>
            <p class="det" id="data"></p>
        </div>
    </div>
    <button onclick="apagar()">Apagar</button>
</body>

</html>